<div class="row">
	<div class="col-md-12">
		<% if flash[:alert] %>
			<p id="notice"><%= flash[:alert] %></p>
		<% end %>
		<%= form_tag(login_path, method: :post, :class => 'login-form') do %>
			<fieldset class="depot_form"> 
				<legend>Thông tin đăng nhập</legend> 
				<div class="form-group">
					<%= label_tag :name, 'Tên đăng nhập:', :class => "lable_form" %>
					<%= text_field_tag :name, params[:name], placeholder: "Nhập tên đăng nhập", :class => "form-control" %>
				</div>
				<div class="form-group">
					<%= label_tag :password, 'Mật khẩu:', :class => "lable_form"  %>
					<%= password_field_tag :password, params[:password], placeholder: "Nhập mật khẩu", :class => "form-control" %>
				</div>
				<div>
					<%= submit_tag "Login", :class => 'btn btn-default' %>
				</div>
			</fieldset> 
		<% end %>
	</div>
</div>