

<div class="container">
<table class="table table-product ">
  <thead>
    <tr>
      <td colspan="3"><h3>Danh sách người dùng</h3></td>
      <td >
      <% if session[:user_id] %>
        <%= link_to new_user_path do %><button type="button" class="btn btn-default new-user">Tạo người dùng</button>
        <% end %>
      <% end %>
    </td>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <%= will_paginate @users, renderer: BootstrapPagination::Rails%>
<br>
</div>