<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="form-group">
    <%= f.label :name, :class => "lable_form" %><br>
    <%= f.text_field :name, size: 40, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :address, :class => "lable_form" %><br>
    <%= f.text_area :address, rows: 3, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => "lable_form" %><br>
    <%= f.text_field :email, size: 40, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :pay_type, :class => "lable_form" %><br>
    <%= f.select :pay_type, Order::PAYMENT_TYPES, prompt: 'Select a payment method' %>
  </div>
  <div class="actions">
    <%= f.submit 'Hoàn tất', :class => 'btn btn-success' %>
  </div>
  
<% end %>
