<div class ="row">
	
	<% unless @cart.line_items.empty? %>
		<div class= "col-sm-8 table-product">
			<table class="table ">
				<thead> 
					<tr>
					  <td colspan="2"><strong>Sản phẩm trong giỏ hàng</strong></td>
					  <td>Số lượng</td>
					  <td colspan="2">Tổng giá</td>
					</tr>
				</thead>
				<tbody>
					<%= render(@cart.line_items) %>
				</tbody>
			</table>

		</div>

		<div class= "col-sm-3 total-price">	  			  			
			<div>
				<table class="table">
					<thead> 
						<tr>
						  <td colspan="3"><h4>Thông tin đơn hàng</h4></td>
						</tr>
					</thead>
					<tbody>
						<%= render @cart %>
						<tr>
						  <td colspan="2"><h4>Thành tiền: </h4></td>	
						  <td class="total-price-table"><h4><%= number_to_currency(@cart.total_price) %></h4></td>			  
						</tr>
					</tbody>
				</table>

			</div>
			<div>
				<%= button_to "Thanh toán", new_order_path, method: :get, :class => "btn btn-success" %>
			</div>	
		</div>
	<% else %>
		<div class="col-sm-12">
			<%= image_tag('/assets/Ecommerce-Development.png', class:'image-cart') %>
			<div class="panel panel-info">
			    <div class="panel-body panelcart">Không có sản phẩm nào trong giỏ hàng của bạn</div>
			</div>
		</div>

			
	<% end %>
</div>